/*Gets rid of all the already-there styling*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{    
    scroll-behavior: smooth;
}
section {
    min-height: 100vh;
}
/* background image of container1 */
.container1::before {
    content: "";
    background-image: url('https://images.pexels.com/photos/6820064/pexels-photo-6820064.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}
.container1 {
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* opening hook + the problem extends if clicked on the "read more" button */
.opener{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    line-height: 1.5;
    /* font */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #343333;
}
#moreText {
    display: none;
}
#moreButton {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-transform: lowercase;
    color: #343333;
    opacity: 0.9;
    background-color: #e32276;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.1 ease 0s;
    cursor: pointer;
}
#moreButton:hover {
    color: #343333;
    background-color: #e32276;
    box-shadow: 0px 5px 5px #343333;
}
/* scroll down button */
.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid #343333;
    position: absolute;
    left: 49%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.scroll-down::before,
.scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 49%;
    border: 2px solid #343333;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after{
    top: 30%;
    animation-delay: .3s;
}
/* animating scroll down button */
@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}
/* misson statement + 'how it works' button */
.container2::before {
    content: "";
    background-image: url('https://images.pexels.com/photos/139319/pexels-photo-139319.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}
.container2 {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 100vh;
}

.purpose{
    width: 950px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #343333;
    line-height: 1.5;
}
.howItWorksButton {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-transform: lowercase;
    color: #343333;
    background-color: #e32276;
    opacity: 0.9;
    /* spacing */
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    /* effects */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.1 ease 0s;
    cursor: pointer;
}
.howItWorksButton:hover {
    color: #343333;
    background-color: #e32276;
    box-shadow: 0px 5px 5px #343333;
}

@media screen and (max-width: 1024px) {
    .opener {
        width: 80vw;
        font-size: 35px;
    }
    .purpose {
        width: 80vw;
    }
}

@media screen and (max-width: 768px) {
    .opener {
        width: 80vw;
        font-size: 30px;
    }
    .purpose {
        width: 80vw;
        font-size: 22px;
        top: 40%;
    }
    .scroll-down {
        left: 48%;
    }
    .howItWorksButton {
        font-size: 25px;
    }

}




