/*Gets rid of all the already-there styling*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    
    /* background-image: linear-gradient(to left, rgba(255,0,0,0), #f4e3a7); */
    background-image: linear-gradient(to right, #ffecd0, #f9d199);
}

/* laptop full screen */
@media screen and (max-width: 1440px) {
    .starterImg{
        width: 1440px;
        height: 960px;
        opacity: 0.3;
    }

}


