/*Gets rid of all the already-there styling*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(to right, #ffecd0, #fbce90);
}
section {
    min-height: 85vh;
}
.starterImg {
    opacity: 0.3;
    margin-top: 100px;
}

.container1 {
    /* position: relative; */
    text-align: center;
    justify-content: center;
    color: white;
}

/* opening hook + the problem extends if clicked on the "read more" button */
.opener{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    line-height: 1.5;
    /* font */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: #464646;
}
#moreText {
    display: none;
}
#moreButton {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-transform: lowercase;
    color: #343333;
    background-color: #e32276;
    opacity: 0.8;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.1 ease 0s;
    cursor: pointer;
}
#moreButton:hover {
    color: #464646;
    background-color: #e32276;
    box-shadow: 0px 5px 5px #464646;
}
/* scroll down button */
.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid #464646;
    position: absolute;
    left: 49%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.scroll-down::before,
.scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid #464646;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after{
    top: 30%;
    animation-delay: .3s;
}
/* animating scroll down button */
@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}
/* misson statement + 'how it works' button */
.container2 {
    position: relative;
    text-align: center;
    justify-content: center;
    color: white;
    min-height: 100vh;
}

.purpose{
    width: 950px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #464646;
    line-height: 1.5;
}
.howItWorksButton {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-transform: lowercase;
    color: #343333;
    background-color: #e32276;
    opacity: 0.8;
    /* spacing */
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    /* effects */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.1 ease 0s;
    cursor: pointer;
}
.howItWorksButton:hover {
    color: #464646;
    background-color: #e32276;
    box-shadow: 0px 5px 5px #464646;
}




