*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container::before{
    content: "";
    background-image: url('https://images.pexels.com/photos/301614/pexels-photo-301614.jpeg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}
.container {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.stepOne {
    position: absolute;
    top: 48%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 370px;
    background-color: #fdc98e3e;
    border-radius: 5%;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: left;
}
.opener {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.5;
    color: #464646;
    letter-spacing: 1px;
}
.rightArrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    object-fit: contain;
    
}
.stepTwo {
    position: absolute;
    top: 43%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    background-color: #fdc98e3e;
    border-radius: 5%;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: left;
}
.facts {
    font-weight: 500;
    font-size: 17px;
    line-height: 1;
    text-indent: 20%;
}

.toDCG {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* physical styling */
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #343333;
    opacity: 0.8;
    background-color: #e32276e2;
    border: none;
    border-radius: 20px;
    /* spacing */
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    /* effects */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.1 ease 0s;
    cursor: pointer;
}

